quote {
    border-left: 4px solid gray;
    padding: 8px 32px;
    margin-bottom: 20px;
    display: block;
}
quote cite {
    margin-top: 0;
    font-style: normal;
}
quote span {
    margin-bottom: 0;
}
quote author, quote book {
    font-size: small;
}
